<div class="container">
    <div class="text-left">
        <h1 class="title">Contáctate con nosotros</h1>
        <p class="subtitle text-muted mb-3">
            Tel: 912 50 82 56
        </p>
        <p class="subtitle text-muted mb-3">
            Email: Recipes@creative.com
        </p>
        <p class="subtitle text-muted mb-3">
            Plaza del castillo 912 cuidad
        </p>
        <h3 class="title">Estamos abiertos de</h3>
        <p class="subtitle text-muted mb-3">
            De jueves a martes:
        </p>
        <p class="subtitle text-muted mb-3">
            lunes: 10:00 a 17:00 hrs
        </p>
        <p class="subtitle text-muted mb-3">
            martes: 10:00 a 17:00 hrs
        </p>
        <p class="subtitle text-muted mb-3">
            miércoles: 10:00 a 17:00 hrs
        </p>
        <p class="subtitle text-muted mb-3">
            jueves: 10:00 a 17:00 hrs
        </p>
        <p class="subtitle text-muted mb-3">
            viernes: 10:00 a 20:00 hrs
        </p>
        <p class="subtitle text-muted mb-3">
            sábado: 10:00 a 20:00 hrs
        </p>
        <p class="subtitle text-muted mb-3">
            domingo: 9:30 a 20:00 hrs
        </p>
    </div>
</div>