<ul class="list-group custom-list">
  <li class="list-group-item"><a class="btn btn-primary" routerLink="sobre-mi">Sobre</a></li>
  <li class="list-group-item"><a class="btn btn-primary" routerLink="menu">Menú</a></li>
  <li class="list-group-item"><a class="btn btn-primary" routerLink="galeria-fotos">Galería de Fotos</a></li>
  <li class="list-group-item"><a class="btn btn-primary" routerLink="blog">Blog</a></li>
  <li class="list-group-item"><a class="btn btn-primary" routerLink="contacto">Contacto</a></li>
  <li class="list-group-item"><a class="btn btn-primary" routerLink="home">Inicio</a></li>
</ul>
<router-outlet></router-outlet>
